<!DOCTYPE html>
<html>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html" style="font-weight: bold;font-family:'Lobster';">what rhymes with</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Word rhyme</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="lyricRhyme.html">Lyric(Sentence) rhyme</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="aiLyrics.html">Ai lyrics</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</html>